{% extends "base.html" %}

{% block title %}About - Flower Shop{% endblock %}
{% block content %}
<h2>About Us</h2>
<p>Welcome to our Flower Shop. We provide fresh flowers and gifts for every occasion.This online store allows customers to browse a range of flowers, select quantities, and add optional extras such as gift wrapping, chocolates, and delivery services.

The website has been developed using Python and Flask and demonstrates the use of dynamic web development techniques. Flower and add-on information is stored in JSON files and displayed automatically on the website.</p>
{% endblock %}